@import "tailwindcss";



*{
  font-family: Outfit;
  scrollbar-width: none;
}

/* custom nav bar  */

.nav-link {
  position: relative;
  display: inline-block;
  height: 1em;
  line-height: 1.2em;
  overflow: hidden;
  padding-right: 2px; 
}

.nav-link span {
  display: block;
  transition: transform 0.5s ease;
  white-space: nowrap;
}

.nav-link::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  transition: transform 0.5s ease;
}

.nav-link:hover span {
  transform: translateY(-100%);
}

.nav-link:hover::after {
  transform: translateY(-100%);
}

/* end of custom nav bar  */
